# local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# ignore sensitive files
*.pem
*.key
*.pub
key.tf

# ignore variables files
*.auto.tfvars

# ignore override files
*.tfoverride

# ignore environment-specific files
.envrc
.gitattributes

# ignore CLI configuration files
.terraformrc
terraform.rc

# crash log files
crash.log
crash.*.logterraform.tfstate
terraform.tfstate.backup
